*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dancing Script', cursive;
}
    
                    /*====================================================*/
                        /*===============Encabezado===================*/
                    /*====================================================*/
    
    header{
        width: 100%;
        height: auto;
        position: fixed;
    }
    
    #header {
        color: #fff;
        width: 100%;
     background-color: #5b7989;
     border-radius: 10px 10px 0px 0px;
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    
    h1 {
        font-size: 3.5em;
        text-align: left;
        margin: 10px auto;
        cursor: pointer;
        min-width: 360px;
    }
    
    #menu-principal {
        float: right;
        display: flex;
        margin: auto 30px;
        padding: 10px;
        text-align: center;
    }
    
    li {
        margin: 0px 10px;
        letter-spacing: 0.5px;
        list-style-type: none;
    }
    
    
    li a {
        padding: 5px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    a{
        transition: all .3s ease;
        text-decoration: none;
    }
    
    a:hover, a:checken{
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }

        /*====================================================*/
            /*=================Articulo====================*/
        /*====================================================*/


#contenedor{
    background-color: #d5c75f;
    width: 100%;
}


.Imagen_principal {
    width: 60%;
    margin: auto;

}

.imagen-princ {
    width: 100%;
    height: 100%;
}

.princ{
    margin-top: 95px;
}

        .Imagen_secundaria {
            justify-content: space-between;
            display: flex;
            width: 75%;
            margin: 0 auto;
        }
        .secun{
            width: 810px;
            margin: 25px 30px 5px 30px;
        
        }
        
        div #imagen1, div #imagen2{
            width: 100%;
            transition: all .5s ease-out;
        }
        
        #imagen1:hover{
            -webkit-transform: rotate(10deg);
                    transform: rotate(10deg);
            box-shadow: 2px 2px  #82c3a6; 
            
        }
        
        #imagen2:hover{
            -webkit-transform: translate(5px, -20px);
                    transform: translate(5px, -20px);
            box-shadow: 2px 2px  #82c3a6;       
        }
        
        .imagen1, .imagen2{
            text-align: center;
        }


